# Build output
**/[Bb]in/
**/[Ob]j/
artifacts/

# Test results
**/[Tt]est[Rr]esults/
*.trx
*.coverage
coverage*.json
coverage*.xml

# User-specific & OS files
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# JetBrains Rider & WebStorm
.idea/
*.iml

# Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Local Configuration & Environment
.env
.env.*

# macOS
.DS_Store